name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ["3.2", "3.3", "3.4", "4.0" ]
        os: ["ubuntu-latest","windows-latest","macos-latest"]
        rack_version: ["2", "3"]
    runs-on: ${{ matrix.os }}
    env:
      RACK_VERSION: ${{ matrix.rack_version }}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
      - run: "bundle install"
      - run: "bundle exec rspec"
